/* Navbar */
.navbar{
    width: 410px;
}

.nav-item i:hover{
    margin: 15px;
    padding: 3px;
}

/* Card */
.card{
    max-width : 410px;
    filter: drop-shadow(0.5px 0.5px 1px #a3a3a3);
}

.card-title-news{
    background-color: rgb(221, 22, 82);
    border-radius: 30px;
    font-size: 1rem;
    padding: 7px;
    text-decoration: underline;
    margin-left: 18px;
}

.card-body{
    margin-left: -15px;
}

.border-rad{
    border-radius: 30px;
}

.news-img{
    filter: drop-shadow(2px 2px 4px #151516);
    padding: 15px;
    margin-top: 0.5rem;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.news-img:hover{
    -webkit-transform: scale(1.09);
	transform: scale(1.09);
}

/* Category */
.parent {
    width: 45%;
    height: 300px;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
}

.parent:hover .child, .parent:focus .child {
    -ms-transform: scale(2);
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
}

.parent:hover .child:before, .parent:focus .child:before {
    display: block;
}

.parent:hover .cat-name, .parent:focus .cat-name {
    display: block;
}

.child {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

.child:before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(52,73,94,0.75);
}

.cat-name {
    display: none;
    font-size: 35px;
    color: #ffffff !important;
    background-color: rgb(221, 22, 82);
    font-family: sans-serif;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
    cursor: pointer;
}

/* Media Queries */
@media screen and (max-width: 960px) {  
    .parent {width: 100%; margin: 20px 0px}
}


/* Icon Avatar */
.avatar-img{
    width: 30px;
    height: 30px;
}

/* Icon Science */
.science{
    background: -webkit-linear-gradient(rgb(226, 17, 17), rgb(186, 52, 219));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Icon Health */
.health{
    background: -webkit-linear-gradient( rgb(38, 187, 63),rgb(8, 202, 236));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Icon Technology */
.technology{
    background: -webkit-linear-gradient(rgb(6, 45, 216), rgb(223, 185, 15));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Icon Business */
.business{
    background: -webkit-linear-gradient(rgb(19, 3, 167), rgb(214, 51, 10));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Icon General */
.entertainment {
    background: -webkit-linear-gradient(rgb(167, 3, 118), rgb(228, 241, 37));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* Icon General */
.general {
    background: -webkit-linear-gradient(rgb(12, 5, 70), rgb(80, 5, 5));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Icon Sport */
.sport {
    background: -webkit-linear-gradient(rgb(228, 208, 28), rgb(72, 218, 28));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* marker */
.mark{
    border-radius: 30px;
}

/* Tabs */
.bloc-tabs {
    display: flex;
    width: 410px;
    margin: 10px;
    border: 1px solid #ddd;
    display: flex;
    overflow-x: scroll;
}

.bloc-tabs::-webkit-scrollbar{
    height: 8px;
    width: 4px;
    background: #fff;
}
.bloc-tabs::-webkit-scrollbar-thumb:horizontal{
    background: rgb(255, 116, 158);
    border-radius: 10px;
}

.tabs {
    border-radius: 10%;
    background: -webkit-linear-gradient(rgb(255, 116, 158),rgb(221, 22, 82));
    -webkit-background-clip:inherit;
    -webkit-text-fill-color:white;
    font-size: 12px;
    margin: 2.5px 8px 2.5px 8px;
    padding: 5px;
    text-align: center;
    width: 50%;
    cursor: pointer;
    border-bottom: 3px solid rgba(0, 0, 0, 0.274);
    box-sizing: content-box;
    position: relative;
    outline: none;
}

.tabs:not(:last-child){
    border-right: 1px solid rgba(0, 0, 0, 0.274);
}
  
.active-tabs  {
    background: white;
    border-bottom: 1px solid transparent;
}
  
.active-tabs::before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 2px);
    height: 5px;
    background: rgb(88, 147, 241);
}

.content-tabs {
    flex-grow : 1;
}

.content {
    background: white;
    padding: 20px;
    display: none;
}

.active-content {
    display: block;
}

.content-tab{
    max-height: 320px;
    border: 1px solid #ddd;
    display: flex;
    overflow: auto;
}

.content-tab::-webkit-scrollbar-corner{
    width: 0;
}

.card-text-tabs{
    font-size: 10px;
    margin-top: 70px;
}

/* Sub Menu Tabs */
.wrapper{
    border: 1px solid #ddd;
    display: flex;
    overflow-x: scroll;
    width: 410px;
}

.wrapper::-webkit-scrollbar{
    height: 8px;
    width: 4px;
    background: #fff;
}
.wrapper::-webkit-scrollbar-thumb:horizontal{
    background: rgb(255, 116, 158);
    border-radius: 10px;
}

/* Footer */
.footer {
    width: 410px;
    flex-shrink: 0;
    text-align: center;
    background-color: tomato;
    color: white;
}

.tooltips{
    display: inline-block;
    padding: .07rem .2rem;
    border-radius: 10px;
    background-color: #FC87DA;
    margin-left: 4rem;
    position: relative;
    font-size: 10px;
    cursor: no-drop;
}

.tooltips::after{
    content: '';
    position: absolute;
    border-left: .4rem solid transparent;
    border-right: .4rem solid transparent;
    border-top: .8rem solid #FC87DA;
    bottom: -.7rem;
    transform: translateX(-100%);
}